@mixin contact_list($class-name: 'contactList') {
  .#{$class-name} {
    list-style-type: none;
    padding: 0;

    .#{$class-name}__element {
      text-align: center;
      text-transform: uppercase;
      padding-bottom: 1rem;

      .#{$class-name}__avatar {
        width: 100%;
      }

      .#{$class-name}__name {
        font-weight: 700;
        font-size: 1rem;
        margin: 1.25rem 0;
        cursor: default;
      }

      .#{$class-name}__button {
        background-color: $white-color;
        border-radius: 0;
        text-transform: uppercase;
        font-weight: 700;
      }

      &.yellow {
        background-color: $orange-color;

        .#{$class-name}__name {
          color: $brown-color;
        }

        .#{$class-name}__button {
          &:hover {
            color: $orange-color;
          }
        }
      }

      &.darkblue {
        background-color: $darkblue-color;

        .#{$class-name}__name {
          color: $white-color;
        }

        .#{$class-name}__button {
          &:hover {
            color: $darkblue-color;
          }
        }
      }
    }
  }
}
