@mixin contact_form($class-name: 'contactForm') {
  .#{$class-name} {
    .#{$class-name}__field {
      .#{$class-name}__labelArea {
        background-color: $orange-color;
        padding: 0.625rem 0 0.625rem;

        .#{$class-name}__label {
          margin: 0 1rem 0;
          float: right;
          line-height: 3.5;
          color: $white-color;
        }
      }
      .#{$class-name}__inputArea {
        padding: 0.625rem 0 0.625rem;
        background-color: $darkblue-color;

        .#{$class-name}__input {
          border: 0;
          margin: 0 1rem;
          width: 90%;
          height: 50px;
          padding: 0.625rem;
        }
      }

      .#{$class-name}__button {
        background-color: $darkblue-color;
        color: $white-color;
        margin-top: 0.625rem;
        padding: 0.5rem 2rem;
        font-weight: 700;
        text-transform: uppercase;

        &.disabled {
          background-color: $white-color;
          color: $darkblue-color;
          border: 1px solid $darkblue-color;
        }
      }
    }
  }
}
