@mixin header ($class-name: 'header') {
  .#{$class_name} {
    .#{$class_name}__menu {
      list-style-type: none;
      padding: 0 1.25rem;

      .#{$class_name}__menuElement {
        margin: 1.25rem 0;

        .#{$class_name}__link {
          color: $darkblue-color;
          font-size: 1.25rem;

          &:hover {
            text-decoration: none;
            color: $orange-color;
          }
        }

        .#{$class_name}__button {
          background-color: $orange-color;
          border-radius: 0;
          color: $white-color;
          padding: 0.5rem 2rem;
          font-weight: 700;
          text-transform: uppercase;

          &:hover {
            background-color: $white-color;
            color: $orange-color;
            border: 1px solid $orange-color;
          }
        }
      }
    }
  }
}
