<div class="container-fluid p-0">
  <div class="row no-gutters">
    <div class="col-sm-12 col-md-3 col-lg-2">
      <app-header></app-header>
    </div>
    <div class="col-sm-12 col-md-9 col-lg-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
