<form class="contactForm row no-gutters" [formGroup]="contactForm" (ngSubmit)="submitForm(contactForm.value)">
  <div class="contactForm__field col-sm-12 row no-gutters">
    <div class="contactForm__labelArea col-sm-2">
      <label class="contactForm__label" for="contactName">Name</label>
    </div>
    <div class="contactForm__inputArea col-sm-10 row no-gutters">
      <div class="col-sm-6">
        <input class="contactForm__input" type="text" id="contactName" name="contactName" formControlName="name"
          placeholder="Your name ...">
      </div>
      <div class="col-sm-6">
        <contact-form-error [contactForm]="contactForm" [controlName]="'name'"></contact-form-error>
      </div>
    </div>
  </div>
  <div class="contactForm__field col-sm-12 row no-gutters">
    <div class="contactForm__labelArea col-sm-2">
      <label class="contactForm__label" for="contactPhone">Phone</label>
    </div>
    <div class="contactForm__inputArea col-sm-10 row no-gutters">
      <div class="col-sm-6">
        <input class="contactForm__input" type="text" id="contactPhone" name="contactPhone" formControlName="phone"
          placeholder="Your phone number ...">
      </div>
      <div class="col-sm-6">
        <contact-form-error [contactForm]="contactForm" [controlName]="'phone'"></contact-form-error>
      </div>
    </div>
  </div>
  <div class="contactForm__field col-sm-12 row no-gutters">
    <div class="contactForm__labelArea col-sm-2">
      <label class="contactForm__label" for="contactEmail">Email</label>
    </div>
    <div class="contactForm__inputArea col-sm-10 row no-gutters">
      <div class="col-sm-6">
        <input class="contactForm__input" type="email" id="contactEmail" name="contactEmail" formControlName="email"
          placeholder="Your email ...">
      </div>
      <div class="col-sm-6">
        <contact-form-error [contactForm]="contactForm" [controlName]="'email'"></contact-form-error>
      </div>
    </div>
  </div>
  <div class="contactForm__field col-sm-12 row no-gutters">
    <div class="contactForm__labelArea col-sm-2">
      <label class="contactForm__label" for="contactBirthday">Birthday</label>
    </div>
    <div class="contactForm__inputArea col-sm-10 row no-gutters">
      <div class="col-sm-6">
        <input class="contactForm__input" type="text" id="contactBirthday" name="contactBirthday"
          formControlName="birthday" placeholder="Your birthday ...">
      </div>
      <div class="col-sm-6">
        <contact-form-error [contactForm]="contactForm" [controlName]="'birthday'"></contact-form-error>
      </div>
    </div>
  </div>
  <div class="contactForm__field col-sm-12 row no-gutters">
    <div class="contactForm__labelArea col-sm-2">
      <label class="contactForm__label" for="birthdayAvatar">Avatar</label>
    </div>
    <div class="contactForm__inputArea col-sm-10 row no-gutters">
      <div class="col-sm-6">
        <input class="contactForm__input" type="text" id="birthdayAvatar" name="birthdayAvatarkatarz"
          formControlName="avatar" placeholder="Your photo ...">
      </div>
      <div class="col-sm-6">
        <contact-form-error [contactForm]="contactForm" [controlName]="'avatar'"></contact-form-error>
      </div>
    </div>
  </div>
  <div class="contactForm__field col-sm-12 row no-gutters">
    <button [class.disabled]="!contactForm.valid" [disabled]="!contactForm.valid"
      class="contactForm__button btn">Submit</button>
  </div>
</form>
