<p class="contactError"
  *ngIf="contactForm.controls[controlName].errors?.required && contactForm.controls[controlName].dirty"> This field is
  required </p>
<p class="contactError" *ngIf="contactForm.controls[controlName].errors?.email"> This field shoul have valid email
  format </p>
<p class="contactError" *ngIf="contactForm.controls[controlName].errors?.pattern && controlName === 'phone'"> This field
  should have valid format of '+48XXXXXXXXX' </p>
<p class="contactError" *ngIf="contactForm.controls[controlName].errors?.pattern && controlName === 'birthday'"> This
  field should have valid format of 'DD/MM/YYYY' </p>
