<ul class="contactList row no-gutters">
  <li [class.yellow]="i % 2 === 0" [class.darkblue]="i % 2 === 1"
    class="contactList__element col-sm-6 col-md-4 col-lg-4 col-xl-3"
    *ngFor="let contact of contacts$ | async; let i = index">
    <img class="contactList__avatar" src="{{ contact.avatar }}" alt="Contact Avatar">
    <p class="contactList__name">{{ contact.name }}</p>
    <button class="contactList__button btn" [routerLink]="['contact/', contact.id]">View</button>
  </li>
</ul>
