<div class="row">
  <div class="col-sm-4">
    <img src="{{ contact.avatar }}" alt="photo">
  </div>
  <div class="col-sm-8">
    <h1>{{ contact.name }}</h1>
    <p>{{ contact.phone }}</p>
    <p>{{ contact.email }}</p>
    <p>{{ contact.birthday }}</p>
    <button class="btn btn-primary" (click)="editContact(contact.id)">Edit</button>
  </div>
</div>
