<nav class="header">
  <ul class="header__menu">
    <li class="header__menuElement">
      <a class="header__link" routerLink="/">Contacts</a>
    </li>
    <li class="header__menuElement">
      <button class="header__button btn" routerLink="/contact-form/add">Add Contact</button>
    </li>
  </ul>
</nav>
